body {
    background-color:purple;
    text-align:center ;
    color:white;
    font-size:40px;
}
#price1{
    color:yellow;
    font-size:45px;
}
#price2{
    color:yellow;
    font-size:35px;
}
#price3{
    color:yellow;
    font-size:35px;
}
#price4{
    color:yellow;
    font-size:35px;
}
