body {
    background-color:purple;
    font-family: 'Oswald', sans-serif;
    text-align:center;
    font-weight:bold;
    text-transform:uppercase;
}
#header div{
    font-size:55px;
    color:white;
}
#header img{
    text-align:center;
}
#footer div{
    font-size:65px;
    color:yellow;
}
#footer span{
    color:white;
    font-size:65px;
}


 





